{% load menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% draw_menu 'main_menu' %}
<ul>
    {% for item in menu_items %}
        <li{% if item == active_menu_item %} class="active"{% endif %}>
            <a href="{{ item.url }}">{{ item.title }}</a>
            {% if item.children.all %}
                <ul>
                    {% for child in item.children.all %}
                        <li><a href="{{ child.url}}">{{ child.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>